{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1 class="text-center">Ефремов Ярослав Сергеевич</h1>
        <img class="w-50 mx-auto d-block" src="{% static 'img/MyPhoto.jpg' %}" alt="photo">
        <h2 class="text-center">г. Зеленодольск</h2>
        <br>
        <h2 class="text-center">Мои увлечения:</h2>
        <h4 class="text-center">&#127936; Баскетбол</h4>
        <h4 class="text-center">&#128187; Программирование</h4>
        <br>
        <h2 class="text-center">Мои проекты:</h2>
        <h4 class="text-center"><a href="https://github.com/MrSmIlEyar/SpaceBattle.git" target="_blank">Игра на Pygame</a></h4>
        <h4 class="text-center"><a href="https://github.com/MrSmIlEyar/software_for_the_lyceum9.git" target="_blank">Приложение на Kivy</a></h4>
        <h4 class="text-center"><a href="https://github.com/MrSmIlEyar/egebot.git" target="_blank">Телеграм бот на aiogram</a></h4>
    </div>

</body>
</html>